[submodule "zmk"]
	path = zmk
	url = https://github.com/zmkfirmware/zmk.git
[submodule "trackball-zmk-config"]
	path = trackball-zmk-config
	url = git@github.com:efogdev/trackball-zmk-config.git
[submodule "zmk-pointer-2s-mixer"]
	path = zmk-pointer-2s-mixer
	url = git@github.com:efogdev/zmk-pointer-2s-mixer.git
[submodule "trackball-bootloader"]
	path = trackball-bootloader
	url = git@github.com:efogdev/trackball-bootloader.git
