[submodule "zmk"]
	path = zmk
	url = https://github.com/zmkfirmware/zmk.git
[submodule "trackball-zmk-config"]
	path = trackball-zmk-config
	url = git@github.com:efogdev/trackball-zmk-config.git
[submodule "zmk-pointer-2s-mixer"]
	path = zmk-pointer-2s-mixer
	url = git@github.com:efogdev/zmk-pointer-2s-mixer.git
[submodule "trackball-bootloader"]
	path = trackball-bootloader
	url = git@github.com:efogdev/trackball-bootloader.git
[submodule "zmk-pmw3610-driver"]
	path = zmk-pmw3610-driver
	url = git@github.com:efogdev/zmk-pmw3610-driver.git
[submodule "endgame-trackball-config"]
	path = endgame-trackball-config
	url = git@github.com:efogtech/endgame-trackball-config.git
[submodule "endgame-trackball-bootloader"]
	path = endgame-trackball-bootloader
	url = git@github.com:efogtech/endgame-trackball-bootloader.git
[submodule "zmk-axis-clamper"]
	path = zmk-axis-clamper
	url = git@github.com:efogdev/zmk-axis-clamper.git
[submodule "zmk-input-processor-report-rate-limit"]
	path = zmk-input-processor-report-rate-limit
	url = git@github.com:efogdev/zmk-input-processor-report-rate-limit.git
[submodule "zmk-ec11-ish-driver"]
	path = zmk-ec11-ish-driver
	url = git@github.com:efogdev/zmk-ec11-ish-driver.git
